<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Change uid/pwd as per your MySQL credentials -->
    <add name="MySqlConn"
         connectionString="Server=localhost;Port=3306;Database=notesdb;Uid=root;Pwd=;SslMode=None;Allow User Variables=True;CharSet=utf8mb4;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Virtual folder that is stored physically at ~/Uploads -->
    <add key="UploadsVirtualRoot" value="/uploads" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <!-- Allow bigger uploads if required -->
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="3600" requestValidationMode="2.0" />
    <pages validateRequest="false" />

    <!-- Simple forms auth cookie (optional). Using Session checks in code as well. -->
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Account/Login.aspx" timeout="2880" />
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>

  <!-- Allow anonymous access for login/register/home/all notes -->
  <location path="Default.aspx">
    <system.web><authorization><allow users="*"/></authorization></system.web>
  </location>
  <location path="Pages/Account/Login.aspx">
    <system.web><authorization><allow users="*"/></authorization></system.web>
  </location>
  <location path="Pages/Account/Register.aspx">
    <system.web><authorization><allow users="*"/></authorization></system.web>
  </location>
  <location path="Pages/Notes/All.aspx">
    <system.web><authorization><allow users="*"/></authorization></system.web>
  </location>
  <location path="Uploads">
    <system.web><authorization><allow users="*"/></authorization></system.web>
  </location>

  <system.webServer>
    <!-- Set Default.aspx as the start page -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
